<h1>Schedule a new meeting</h1>

<p><strong>Candidate : <%= @candidate.first_name%> <%= @candidate.last_name%></strong></p>
<p><strong>Recruiter : <%= @candidate.recruiter.first_name%> <%= @candidate.recruiter.last_name%></strong></p>
<div class="row">
    <div class="col-4">
      <%= form_for @meeting do |f|%>
      <div class="form-group">
        <%= f.label :place %>
        <%= f.text_field :place, class: "form-control" %>
      </div>
      <div class="form-group">
      
        <%= f.label :time %><br/>
        <%= f.text_field :time, class: "" %>
      </div>
      <%= hidden_field_tag 'meeting[recruiter_id]', @candidate.recruiter.id  %>
      <%= hidden_field_tag 'meeting[candidate_id]', @candidate.id  %>
      <div class="form-group">
        <%= f.submit class: "btn btn-indigo" %>
      </div>
    <% end %>
    </div>
</div>
<script>
$(function() {
        $('#meeting_time').datetimepicker({
            dateFormat: 'mm/dd/yyyy hh:MM:ss TT',
            inline:true
        });
    });
</script>