<h1>Show Meeting</h1>

<p>Date : <%= @meeting.time %></p>
<p>Place : <%= @meeting.place %></p>
<p>Candidate : <%= @meeting.candidate.first_name %> <%= @meeting.candidate.last_name %></p>
<p>Recruiter : <%= @meeting.recruiter.first_name %> <%= @meeting.recruiter.last_name %></p>
