<%= render  "shared/errors", obj: @position %>
<div class="row">
  <div class="col-12">
    <%= form_for @position do |f|%>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description,rows: 10,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-secondary" %>
      </div>
    <% end %>
    <div class="col-12 text-center">
      <%= link_to 'Cancel and return to positions', positions_path %>
    </div>
  </div>
</div>
