<h2><%= @candidate.first_name %> <%= @candidate.last_name %></h2>

<p class="lead">
    <%= @candidate.position ? @candidate.position.title : nil %>
</p>

<%= render 'shared/skill-badges', obj: @candidate%>

<div class="row my-4">
    <div class="col-3 text-right"><b>Name</b> :</div>
    <div class="col-9"><%= @candidate.first_name %> <%= (@candidate.last_name).upcase %></div>

    <div class="col-3 text-right"><b>Email</b> :</div>
    <div class="col-9"><%= @candidate.email %></div>

    <div class="col-3 text-right"><b>Telephone</b> :</div>
    <div class="col-9"><%= @candidate.telephone %></div>

    <div class="col-3 text-right"><b>Linked in</b> :</div>
    <div class="col-9"><%= link_to @candidate.linked_in, @candidate.linked_in, target: "_blank" %></div>

    <div class="col-3 text-right"><b>Github</b> :</div>
    <div class="col-9"><%= link_to @candidate.github, @candidate.linked_in, target: "_blank" %></div>
</div>

<div class="row">
    <div class="col">
    <%# IF Candidate has recruiter %>
        <% if @candidate.recruiter_id && @candidate.recruiter_id != 0%>
        <h4>Recruiter :</h4>
        <div class="row">
            <div class="col card">
            <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>
                    <%= @candidate.recruiter.first_name %> <%= @candidate.recruiter.last_name %><br/>
                    <%= @candidate.recruiter.email%><br/>
                    <%= @candidate.recruiter.telephone%>
                </p>
                <%= link_to "remove", "/candidates/#{@candidate.id}/add-recruiter", :method => :delete, class: "btn btn-sm btn-danger mt-3" %>
                </div>
                <div class="col d-flex align-items-center">
                    <div>
                        <%= link_to "Schedule a meeting", {:controller => 'meetings', :action => 'new', :id => @candidate.id }, { :class => 'btn btn-lg btn-indigo' } %>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    <%# IF Candidate Doesn't have %>
        <% else %>
        <h4>Please select a recruiter :</h4>
        <div class="row">
            <% sort_recruiters(@recruiters,@candidate).each_with_index do |r, i|%>
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4><%= link_to "##{i+1} - #{r[:recruiter].first_name} #{r[:recruiter].last_name}" , recruiter_path(r[:recruiter]) %></h4>
                        <p>Match Score: <%= r[:score]%></p>
                        <%= render 'shared/skill-badges', obj: r[:recruiter]%>
                        <p class="text-center">
                            <%= link_to "Select this recruiter", "/candidates/#{@candidate.id}/add-recruiter/#{r[:recruiter].id}", :method => :post, class: "btn btn-mdb-color mt-3" %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>